config.stopBubbling=true
lombok.equalsAndHashCode.callSuper=call
#@Data相当于@Getter @Setter @RequiredArgsConstructor @ToString @EqualsAndHashCode这5个注解的合集
#当不使用这个配置文件的时候 使用@Data注解，并且有基类的话 就会抛出警告

#Generating equals/hashCode implementation but without a call to superclass, even though this class
 #does not extend java.lang.Object. If this is intentional, add '@EqualsAndHashCode(callSuper=false)'
 #to your type.

#添加注解@EqualsAndHashCode(superCall=true) 可以解决这个问题 但是 每一个继承的类，都需要这么来解决，也不是很方便 所以lombok的作者 提供了解决方案，将这个配置文件 放在与bean相同的目录下面